spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/solution
    username: sweetk
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  output:
    ansi:
      enabled: always
  data:
    mongodb:
      uri: mongodb://localhost:27017/solution

  ai:
    gemini:
      api-key: AIzaSyBB8toDRnlNyaYLeYwG_ABMArvu5decsNQ
      chat:
        options:
          model: gemini-2.5-flash

logging:
  level:
    org:
      hibernate:
        type: trace
